! -----------------------------------------------
! URxvt-unicode-256 terminal settings
! -----------------------------------------------
! Great resources:
!  - https://wiki.archlinux.org/index.php/rxvt-unicode
!  - https://github.com/bookercodes/awesome-urxvt
! -----------------------------------------------
! To copy & paste use <ctrl+alt+c> <ctrl+alt+v>

! Set font family and size
URxvt.font:       xft:SourceCodePro-Regular:size=10

! Disable the scrollbar
URxvt.scrollBar:  false

! Setting transparency and background
! Real Transparency: don't work in i3... I don't konw why
URxvt.depth:      32
URxvt.background: [95]#282A36

! Border settings
URxvt.borderColor: #282A36
URxvt.internalBorder: 2

! Cursor Settings
URxvt.cursorBlink: 1
!URxvt.cursorUnderline: 1
URxvt.cursorColor: #f8f8f2

! Disable the default ctrl-shift binding
URxvt.iso14755: false

! Dracula Xresources palette
URxvt.foreground: #F8F8F2
!URxvt.background: #282A36
URxvt.color0:     #000000
URxvt.color8:     #4D4D4D
URxvt.color1:     #FF5555
URxvt.color9:     #FF6E67
URxvt.color2:     #50FA7B
URxvt.color10:    #5AF78E
URxvt.color3:     #F1FA8C
URxvt.color11:    #F4F99D
URxvt.color4:     #BD93F9
URxvt.color12:    #CAA9FA
URxvt.color5:     #FF79C6
URxvt.color13:    #FF92D0
URxvt.color6:     #8BE9FD
URxvt.color14:    #9AEDFE
URxvt.color7:     #BFBFBF
URxvt.color15:    #E6E6E6

! -----------------------------------------------
! Extensions
! -----------------------------------------------
! Extensions are locatede in /usr/lib/urxvt/perl

! Enable all the perl extension
! fullscreen extension depend on wmctrl linux package
! Do not use any CTRL-SHIFT key binding!!!!
!URxvt.perl-lib: /home/claudio/.urxvt/ext
URxvt.perl-ext-common:    fullscreen,resize-font,matcher


! Setting the keybindings for the extensions
! -----------------------------------------------

! fullscreen -> toggle terminale fullscreen mode
URxvt.keysym.F11:         perl:fullscreen:switch

! resize-font -> resize the terminal font
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-equal:     resize-font:bigger
URxvt.keysym.C-0:         resize-font:reset
URxvt.keysym.C-9:         resize-font:show

! matcher -> make URLs clickable
URxvt.url-launcher:       /usr/bin/xdg-open
URxvt.matcher.button:     1
